body{
    background-color: #ffe3e2;
}

.main__section{
    width: 60vw;
    margin: auto;
}

.search--filter__section{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


